@import "@scss/friday";

.react-draggable-transparent-selection {
  .dnd .layout .react-grid-item {
    cursor: grabbing;
  }
}

.dnd {
  .layout {
    min-height: 200px;

    .widget-left > div {
      margin-right: 15px;
    }

    .widget-right {
      > div {
        margin-left: 15px;
      }

      .dnd-btn-delete,
      .react-resizable-handle {
        right: 0 !important;
      }
    }

    .widget-center > div {
      margin-left: 15px;
      margin-right: 15px;
    }

    .react-grid-item {
      &.react-draggable {
        cursor: grab;
      }
      //border: 1px solid;

      .card {
        margin-bottom: 0;
      }

      > div {
        //height: 100%;
        background-color: #fff;
        overflow: hidden;
        border-radius: 20px;
      }

      .react-resizable-handle {
        //opacity: 0;
        right: 15px;
      }

      .dnd-btn-delete {
        position: absolute;
        top: 0;
        right: 15px;
        padding: 0.25rem 0.5rem;
        font-size: 12px;
        transition: all 300ms;
        opacity: 0;
      }

      &:hover {
        .dnd-btn-delete {
          opacity: 1;
        }
      }
    }
  }

  .react-grid-item.react-grid-placeholder {
    background: lighten($primary-bg, 25%);
  }

  .droppable-element {
    width: 300px;
    cursor: grab;
    box-shadow: 0 0 0 1px #edeae9, 0 1px 4px 0 rgba(109, 110, 111, 0.08);
    border-color: #fff;
    background: #fff;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
    border: 1px solid #edeae9;
    border-radius: 8px;
    box-sizing: border-box;
    padding-bottom: 10px;

    .img {
      width: 100%;
      pointer-events: none;
      user-select: none;
    }

    .span {
      left: 12px;
      position: relative;
      top: 12px;
      font-size: 14px;
      line-height: 22px;
      pointer-events: none;
      user-select: none;
      font-weight: 600;
    }

    &:hover {
      border: 1px solid rgb(153, 150, 150);
    }
  }

  .isDragging {
    .droppable-element {
      border-color: $primary;
    }
  }
}

.dnd.widget-drawer {
  z-index: 1500;

  .ant-drawer-header {
    .ant-drawer-header-title {
      flex-direction: row-reverse;

      .ant-drawer-close {
        color: #0087ff;
        margin-right: 0;
      }

      .ant-drawer-title {
        display: flex;
        align-items: center;
        gap: 10px;

        .widget-drawer-icon {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $primary;
        }

        .widget-drawer-title {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #32434f;
        }
      }
    }
  }

  .ant-drawer-body {
    padding: 24px 30px;
  }

  .ant-drawer-footer {
    padding: 24px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .form-group {
      margin-bottom: 0;
      cursor: pointer;

      .form-check-input {
        cursor: pointer;
      }

      .form-check-input:checked {
        background-color: #246bfd;
      }
    }

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #212121;
    }
  }
}
