
.sidebar-widget {
    .widget-events {

        .card-header {
            .card-title {
                .title {
                    color: var(--neutral-shade-1, #121210);
                    font-family: Be Vietnam Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }
            }
        }

        .card-body {
            margin-top: 24px;

            .total-event {
                display: flex;
                padding: 16px 8px;
                align-items: center;
                gap: 16px;
                align-self: stretch;
                border-radius: 12px;
                background: var(--other-azure-100, #DBE7FF);
                margin-bottom: 16px;
                cursor: pointer;
                .icon-event {
                    display: flex;
                    padding: 8px;
                    align-items: flex-start;
                    gap: 4px;
                    border-radius: 50px;
                    background: #E1ECFB;
                }
            }

            .div-birthday {
                display: flex;
                padding: 16px 8px;
                align-items: center;
                gap: 16px;
                align-self: stretch;
                border-radius: 12px;
                background: var(--other-atomic-100, #FFEDE1);

                .icon-birthday {
                    display: flex;
                    padding: 8px;
                    align-items: flex-start;
                    gap: 4px;
                    border-radius: 50px;
                    background: #FCDCC6;
                }
                .birthday {
                    color: var(--neutral-shade-2, #403F3A);
                    font-family: Be Vietnam Pro;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }

            .div-birthday:hover {
                cursor: pointer
            }

            .no-total-event {
                .icon-no-event {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--neutral-shade-2, #403F3A);
                    font-family: Be Vietnam Pro;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin-top: 24px;
                }
            }
        }
    }
}

.modal-events {
    max-width: 448px;

    .modal-content {
        padding: 24px!important;

        .modal-header {
            display: block;
            padding: 12px;
            border-bottom: 0.5px solid #D9D7D0!important;

            .image-birthday {
                position: absolute;
                padding-left: -24px;
                top: 12px;
                left: 0;
            }
        }

        .header-modal-events {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                color: var(--neutral-shade-1, #121210);
                text-align: center;
                font-family: Be Vietnam Pro;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
                margin-left: 30%;
            }
            
            .close-modal-events{
                cursor: pointer;
            }
        }

        .modal-body {
            padding-top: 24px!important;

            .list-member {
                display: flex;
                justify-content: space-between;
                align-items: center;
                display: flex;
                padding-bottom: 20px;

                .send-message {
                    display: flex;
                    padding: 8px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 12px;
                    background: var(--primary-500, #FFE658);

                    .title {
                        color: var(--neutral-shade-2, #403F3A);
                        font-family: Be Vietnam Pro;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 16px;
                    }
                }

                .info {
                    .title {
                        color: var(--neutral-shade-2, #403F3A);
                        font-family: Be Vietnam Pro;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

.modal-setting-widget {
    .modal-content {
        padding: 12px 24px!important;

        .modal-header {
            display: block;
            border-bottom: 0.5px solid #D9D7D0!important;

           .header-modal-widget {
               display: flex;
               justify-content: space-between;

                .title {
                    color: var(--neutral-shade-1, #121210);
                    text-align: center;
                    font-family: Be Vietnam Pro;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px;
                    margin-left: 40%;
                }

                .close-modal-widget{
                    cursor: pointer;
                }
           }
        }

        .droppable-element {
            color: var(--neutral-shade-2, #403F3A);
            font-family: Be Vietnam Pro;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;

            img {
                width: 100%;
            }
            .title {
                float: left;
                margin-bottom: 12px;
            }

            .widget-item {
                padding: 24px;
            }

            .widget-checkbox {
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;

                .span {
                    color: var(--neutral-shade-2, #403F3A);
                    font-family: Be Vietnam Pro;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    margin-left: 12px;
                }
            }
        }
    }
}


        