@import "@scss/friday";

.setting-member {
  > div {
    border-radius: 14px;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 13px;
    padding-bottom: 13px;

    .menu-icon {
      background: #0082ff;
      min-width: 36px;
      min-height: 36px;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
      margin-right: 15px;

      &.green {
        background: #69dca1;
      }

      i {
        margin-right: 0;
        color: #ffffff;
        width: 20px !important;
        height: 20px !important;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .title {
      font-weight: 600;
      font-size: 16px;
    }
  }

  .card-body {
    .row {
      border-radius: 12px;
      padding: 15px 0;

      &.table-header {
        background-color: #f5f7f9;
      }

      &:hover {
        background-color: #f5f7f9;
      }

      &:nth-child(2) {
        margin-top: 0.5rem;
      }
    }

    .text-bold {
      font-weight: 600;
    }

    .form-group {
      margin-bottom: 0;
    }

    hr {
      margin: 0.5rem 0;
    }

    .form-switch {
      input {
        cursor: pointer;

        &:checked {
          background-color: #377dff;
          border-color: #377dff;
        }
      }
    }
  }
}

.btn-primary-custom {
  background: #377dff !important;
  border-color: #377dff !important;
  color: #ffffff !important;

  &:hover {
    box-shadow: none !important;
    background: darken($color: #377dff, $amount: 3) !important;
  }
}
