@import "@scss/friday";

.wrapper__menu-content:has(.content-wrapper .div-user__div-body) {
  max-width: calc(1480px + 120px) !important;
  padding: 0 60px;
}

.div-user__div-body {
  width: 100%;
}

.user-profile-page {
  max-width: 1010px;
  .custom-button {
    border-radius: 8px;
  }

  .custom-primary {
    color: #32434f !important;
    background: #ffe658 !important;
    border: none;
  }

  .custom-secondary {
    color: #32434f !important;
    background: #f1f1f5 !important;
    border: none;
  }

  .btn-action-empty {
    background-color: unset !important;
    border: none !important;
    color: #95999f !important;
    box-shadow: none !important;
  }

  .common-card-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #32434f !important;
  }

  .blue-text {
    color: #0483ff;
  }

  .page-header {
    border-radius: 14px;

    .cover-image-container {
      position: relative;

      .image-cover {
        position: relative;
        .coverPhoto {
          position: absolute;
          width: 100%;
          min-height: 200px;
          top: 0%;
          left: 0%;
          canvas {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
          }
        }
        .cameraBtn {
          position: absolute;
          top: 6%;
          right: 1%;

          width: 120px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.2) !important;
          color: #ffffff;
          font-size: 12px;
          font-weight: 600;
          cursor: pointer !important;
        }
      }
      .workspaceCover {
        object-fit: cover;
        max-height: 336px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      .avatar-container {
        position: absolute;
        left: 2rem;
        bottom: -30%;
        padding: 5px;
        border-radius: 50%;
        background-color: #ffffff;

        .employeeAvatar {
          @include media-breakpoint-up(lg) {
            height: 140px;
            width: 140px;
          }

          position: relative;

          cursor: pointer;

          img {
            border-radius: 50% !important;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
          }

          .cameraBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -3px;
            right: 15px;
            height: 30px;
            width: 30px;
            background-color: #d9d9d9;
            border-radius: 50%;
            svg {
              padding-left: 1px;
              padding-bottom: 1px;
            }
          }
        }
      }
    }

    .user-info-container {
      padding-left: calc(140px + 2rem);

      .button-action {
        padding: 0px 20px;
        height: fit-content;
        .custom-button {
          height: 36px !important;
        }

        .custom-primary {
          width: 110px;
          font-size: 12px;
          padding: 14px;
        }
      }

      .user-info-content {
        padding-left: 1.75rem;
        .username {
          color: #32434f !important;
          font-weight: 600;
          font-size: 20px;
        }

        .job-title {
          font-weight: 400;
          font-size: 14px;
          color: #32434f;
        }

        .employment-type {
          color: #7f7d83;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .page-body {
    .div-content {
      gap: 20px !important;
    }

    .div-left {
      .about-me-section {
        .about-content {
          .hide {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
          }
        }
      }

      .skill-section {
        .skill-list {
          .skill-item {
            padding: 5px;
            border: 1px solid #ececed;
            border-radius: 9px;
          }
        }
      }

      .workspace-slide-section {
        .custom-secondary {
          width: 100% !important;
          border-radius: 10px;
        }

        &:hover {
          .swiper-button-next,
          .swiper-button-prev {
            display: flex;
          }
        }

        .workspace-manage-list {
          .workspace-item {
            background-color: #ffffff !important;
            border-radius: 14px;
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          height: 26px;
          width: 26px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.3);
          display: none;
        }

        .swiper-button-next {
          right: 2px !important;

          &:after {
            background-image: url(str-replace(
              str-replace($chevron-right, "currentColor", "#FFFFFF"),
              "#",
              "%23"
            ));
            background-repeat: no-repeat;
            background-position: center;
            background-size: 22px;
            padding-left: 20px;
            color: $body-color;
            width: 15.6px;
            height: 15.6px;
            content: "";
            margin-left: 2px;
          }
        }

        .swiper-button-prev {
          left: 0px !important;

          &:after {
            background-image: url(str-replace(
              str-replace($chevron-left, "currentColor", "#FFFFFF"),
              "#",
              "%23"
            ));
            background-repeat: no-repeat;
            background-position: center;
            background-size: 22px;
            padding-left: 20px;
            color: $body-color;
            width: 15.6px;
            height: 15.6px;
            content: "";
            margin-right: 2px;
          }
        }
      }

      .employment-history-section {
        .employment-history-list {
          max-height: 400px;
          .employment-history-item {
            border-bottom: 1px solid #f1f1f1;

            &:last-child {
              border: none !important;
            }

            .content-wrapper {
              min-height: 70px;
              padding-top: 2rem;
              padding-bottom: 2rem;

              .info {
                .title {
                  color: #0a090b;
                  font-weight: 500;
                  font-size: 14px;
                }

                .text {
                  color: #1d1c20;
                  font-weight: 500;
                  font-size: 12px;
                }

                .time {
                  font-size: 12px;
                  font-weight: 400;
                  color: #7f7d83;
                }
              }
            }
          }
        }
      }
    }

    .div-right {
      .card {
        border-radius: 14px;
      }

      .contact-info-section {
        .contact-item {
          .common-label {
            font-size: 14px;
            font-weight: 500;
            color: #32434f;
          }

          .common-content {
            font-size: 14px;
            font-weight: 400;
          }
        }

        .social {
          .social-contact-item {
            cursor: pointer;
          }
        }
      }

      .link-info-section {
        .card-body {
          padding: 8px 20px;
        }
        a {
          font-size: 14px;
          font-weight: 300;
          color: #0a090b;
          text-decoration: none;
        }

        .copy-button {
          background-color: #3f8cff !important;
          border: none;
          border-radius: 7px;
          font-size: 12px !important;
        }
      }
    }
  }

  .infinite-scroll-component {
    overflow: unset !important;
  }

  .loading-col-media-image {
    .ant-skeleton-image {
      height: 175px !important;
      width: 175px !important;
      border-radius: 12px;
    }
  }

  .col-media-image {
    .media-image-item {
      .image-container {
        cursor: pointer;
        height: 175px !important;
        width: 175px !important;
        background-size: cover;
        background-position: center;
        border-radius: 12px;
      }

      .ant-skeleton-image {
        height: 175px !important;
        width: 175px !important;
        border-radius: 12px;
      }
    }
  }

  .custom-introduction {
    .user-introduction .user-information .user__header {
      border: none !important;

      .menu-icon {
        min-width: unset;
        min-height: unset;
        height: 30px !important;
        width: 30px !important;
        border-radius: 12px;
        margin-right: 10px !important;

        i {
          font-size: 13px;
        }
      }

      .title {
        font-size: 16px !important;
        font-weight: 600;
        color: #32434f;
      }
    }

    .div-button {
      button {
        font-size: 12px;
        font-weight: 600;
        width: 80px !important;
        height: 36px !important;
      }

      .btn-edit {
        background-color: #f5f6f8 !important;
        color: #1877f2 !important;
      }
    }

    .pick-map {
      .custom-place-auto {
        .w-75 {
          width: 100% !important;
        }
        label {
          display: none !important;
        }
        .select_address {
          .address_prefix__control {
            border-radius: 12px !important;
            border: 1px solid #f3f3f3 !important;
          }

          .address_prefix__indicators {
            display: none !important;
          }
        }
      }
    }
  }
}

.user-endorsement-page {
  #div-sticky-2 {
    border-radius: 14px;
    position: sticky;
  }
}

@media (min-width: 1920px) {
  .separate-sidebar-layout
    .app-content
    .content-wrapper
    .page-body
    .div-content {
    gap: 0px !important;
    justify-content: unset !important;

    .div-left {
      width: 680px !important;
      margin-right: 15px !important;
    }

    .div-right {
      .timeline__endorsement,
      .contact-info-section,
      .link-info-section {
        width: 315px !important;
      }
    }
  }
}

.create-skill-folder {
  .skill-item {
    padding: 5px;
    border: 1px solid #ececed;
    border-radius: 9px;

    .btn-action {
      padding: 2px 4px !important;
      border-radius: 3px !important;
      font-size: 11px;
    }
  }
}

.react-select {
  .btn-action {
    padding: 2px 4px !important;
    border-radius: 3px !important;
    font-size: 11px;
  }
}
