@import "@scss/friday";

.employee-group-page {
    .column {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .column-width-type {
        width: 150px ;
    }

    .column-width-except-employee {
        width: 660px ;
    }
    .column-width {
        width: 220px;
    }

    .fly-content {
        .fly-item {
            height: 60px;

            .type-icon {
                color: $primary;
                font-size: 90%;
            }
        }
    }
}
