@import "@scss/friday";

.workspace {
  max-width: 1148px;
  margin: auto;
  .image-cover {
    position: relative;
    .coverPhoto {
      position: absolute;
      top: 0%;
      left: 0%;
      canvas {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
    }
    .cameraBtn {
      position: absolute;
      top: 4%;
      left: 1%;
    }
  }
  .workspaceCover {
    object-fit: cover;
    max-height: 336px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .workspaceInformation {
    .workspaceName {
      color: black;
      font-weight: bold;
    }
  }

  .btn-action-secondary {
    background-color: #e5e5e5 !important;
    border-color: #e5e5e5 !important;
    color: $primary-text-color !important;
  }

  .small-description {
    font-size: 0.75rem;
    font-weight: 500;
    color: rgb(179, 179, 179);
  }

  .tab-content {
    .tab-introduction {
      .card {
        border-radius: 14px;
      }

      .group-rule-container {
        .list-group-rule {
          .group-rule-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .index {
              display: inline-block;
              height: 24px;
              width: 24px;
              text-align: center;
              line-height: 24px;
              color: $primary-text-color;
              border-radius: 8px;
              background-color: $primary;
              font-weight: 600;
            }

            .sort {
              cursor: pointer;
            }
          }
        }
      }

      .workspace-info-container {
        .workspace-info-item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 12px 0;

          .description {
            font-size: 12px;
            color: rgb(179, 179, 179);
          }
        }
      }
    }

    .tab-member {
      .section {
        padding: 15px 0;
      }

      .border-bot {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .tab-media {
      .media-file-item {
        cursor: pointer;
        .image-container {
          height: 40px;
          width: 40px;

          img {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            object-fit: cover;
            object-position: center center;
          }
        }

        .info {
          small {
            font-size: 11px;
          }
        }
      }
    }
  }
}

.invite-workspace-modal {
  .ant-tabs-tab-btn {
    width: 100%;
  }
  .content-select {
    width: 60%;
    border-right: 0.5px solid #c5c5c5;
  }
  .title-tab-content {
    font-weight: 600;
  }
}

.list-workspace-page {
  .workspace-container {
    .loading-component {
      height: 200px;
    }

    button.disabled {
      border: none !important;
      color: rgba(0, 207, 232, 0.5);
    }

    .work-space-title {
      color: $primary-text-color;
      font-size: 28px;
    }

    .workspace-item {
      box-shadow: rgb(26 26 26 / 5%) 0px 1px 3px;
      border-radius: 0.75rem !important;

      .card-body {
        .workspace-content {
          position: relative;

          .image {
            height: 180px;
            img {
              max-width: 100%;
              object-fit: cover;
              height: 100%;
              border-top-left-radius: 0.75rem;
              border-top-right-radius: 0.75rem;
            }
          }

          .detail {
            .name {
              font-weight: 600;
              color: $primary-text-color;
            }

            small {
              color: $primary-text-color;
            }
          }
        }

        .workspace-button {
          position: absolute;
          width: 32px;
          height: 32px;
          background: rgb(255, 255, 255);
          border-radius: 50%;
          right: 12px;
          top: 165px;
          box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px, rgb(0 0 0 / 5%) 0px 0px 1px;
        }
      }
    }
  }
}

.group-rule-modal {
  .modal-content {
    .modal-body {
      .list-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .list-group-rule {
          .group-rule-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .index {
              display: inline-block;
              height: 24px;
              width: 24px;
              text-align: center;
              line-height: 24px;
              color: $primary-text-color;
              border-radius: 8px;
              background-color: $primary;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.dropdown-workspace-group-rule {
  .ant-dropdown-menu {
    padding: 0 !important;
    border-radius: 5px;

    .ant-dropdown-menu-item {
      padding: 0 !important;

      button {
        border-radius: unset;
        text-align: left;
        padding: 10px;
      }

      &:hover {
        background-color: unset !important;
      }
    }
  }
}

.preview-workspace-media-modal {
  all: unset;

  .modal-content {
    background-color:rgba(0, 0, 0, 0.2);
    padding: 0 !important;

    .modal-body {
      .preview-image {
        height: calc(100vh - 10px);
        position: relative;

        img {
          height: 100%;
          max-width: 100%;
        }

        .action-container {
          position: absolute;
          top: 0;
        }
      }
    }
  }
}
