.workspace {
  max-width: 1148px;
  margin: auto;
  .image-cover{
    position: relative;
    .coverPhoto{
      position: absolute;
      top: 0%;
      left: 0%;
      canvas{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
    }
    .cameraBtn{
      position: absolute;
      top: 4%;
      left: 1%;
    }
  }
  .workspaceCover {
    object-fit: cover;
    max-height: 336px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .workspaceInformation {
    .workspaceName {
      color: black;
      font-weight: bold;
    }
  }
}
.no-border-bottom{
  .modal-content{
    .modal-header{
      border-bottom : none !important;
    }
  }
}
.invite-workspace-modal{
  .ant-tabs-tab-btn{
    width: 100%;
  }
  .content-select{
    padding-right: 10px;
    width: 60%;
    border-right: 0.5px solid #c5c5c569;
  }
  .content-selected{
    padding-left: 10px;
    width: 40%;
  }
  .title-tab-content{
    font-weight: 600;
  }
  .modal-content{
    padding: 30px 40px 30px 0px !important;
    .modal-header{
      border-bottom : none !important;
      .modal-title{
        padding-left: 40px;
      }
    }
    .ant-tabs-tab-active{
      background-color: antiquewhite;
    }
   }
}
.box-member {
  cursor: pointer;
  align-items: center;
  padding: 10px 2px;
  border-radius: 12px;
  &:hover{
    background-color: #f5f7f9;
  }
}
.setup-notification-workspace-modal{
   .content-notification-setup{
    cursor: pointer;
    margin-bottom: 0.5rem;
    .title{
      color: rgb(26, 26, 26);
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
    .sub-title{
      color: rgb(128, 128, 128);
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
    }
   }
}