.report-employee {
  .border-right {
    border-right: 1px solid #f5f5f5;
  }

  .border-left {
    border-left: 1px solid #f5f5f5;
  }

  .border-bottom {
    border-bottom: 1px solid #f5f5f5;
  }

  .border-top {
    border-top: 1px solid #f5f5f5;
  }
}
