.report-onboarding {
  .text-small {
    font-size: 13px;
    font-weight: 500;
  }

  .filter-date {
    min-width: 180px;
  }

  .apexcharts-menu-item {
    width: 105px;
  }

  .btn-secondary-edit {
    border: none;
    background-color: rgb(224, 230, 234) !important;
    color: rgb(79, 94, 113) !important;
  }

  .avatar.avatar-sm img {
    width: 30px;
    height: 30px;
  }

  .min-height-365 {
    min-height: 365px;
    padding-top: 100px;
  }
}
