@import "@scss/friday";

.btn-custom-primary {
    border-radius: 12px;
    color: #ffffff !important;
    background-color: #377dff !important;

    &:after {
        display: none;
    }

    &:hover {
        box-shadow: none !important;
    }

    &:focus {
        background-color: #377dff !important;
    }
}

.btn-custom-primary-outline {
    border-radius: 12px;
    border-color: #377dff !important;
    color: #377dff !important;
    background-color: #ffffff !important;

    &:after {
        display: none;
    }

    &:hover {
        box-shadow: none !important;
    }

    &:focus {
        background-color: #ffffff !important;
    }
}

.custom-text-primary {
    color: #377dff !important;
}

.btn-custom-white {
    border-radius: 12px;
    background-color: #ffffff !important;
    border: none;

    &:hover {
        box-shadow: none !important;
    }
}

.modal-dialog {
    //max-width: 1000px;
}

.drive-icon-bg {
    background-color: #f1f1f5;
    height: 50px;
    width: 50px;
    border-radius: 18px;
}

.drive-icon-bg-md {
    background-color: #f1f1f5;
    height: 40px;
    width: 40px;
    border-radius: 15px;
}

.drive-cancel-uploading-icon {
    cursor: pointer;
}

.drive-rounded-icon {
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 2px;
}

.drive-rounded-icon-lg {
    height: 32px;
    width: 32px;
}

.drive-filter-container {
    .filter-sort-container {
        .input-filter-drive {
            height: 38px;
            background-color: #ffffff;
            border-radius: 12px;

            .text-filter-drive-container {
                padding-left: 16px;

                .sort-by-text {
                    font-size: 12px;
                    font-weight: 400;
                    color: #696974;
                }

                .sort-content {
                    width: 120px;
                    font-size: 12px;
                    font-weight: 400;
                    color: #000000;
                    border: none;
                    width: 120px;
                }
            }

            .icon-filter-drive-container {
                padding-right: 8px;
                padding-left: 8px;
                border-left: 1px solid #f1f1f5;
                cursor: pointer;
            }
        }
    }

    .filter-button-container {
        .btn-filter-drive {
            width: 38px;
            height: 38px;
        }
    }

    .toggle-drive-layout-container {
        .toggle-drive-layout {
            .toggle-drive-layout-item {
                cursor: pointer;
                color: #292d32;
                height: 38px;
                width: 38px;
                background-color: #ffffff;

                &:first-child {
                    border-top-left-radius: 12px !important;
                    border-bottom-left-radius: 12px !important;
                }

                &:last-child {
                    border-top-right-radius: 12px !important;
                    border-bottom-right-radius: 12px !important;
                }
            }

            .active {
                background-color: #377dff;
            }
        }
    }
}

.drive-page {
    .p-250 {
        padding: 2.5rem;
    }

    .w-30 {
        width: 30%;
    }

    .w-60 {
        width: 60%;
    }

    .w-70 {
        width: 70%;
    }

    .bg-blue {
        background-color: #3f8cff;
    }

    .btn-flat-info {
        color: $primary-text-color;

        &:hover,
        &:focus {
            background-color: #3f8cff !important;
            color: #ffffff;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $primary-text-color;
    }

    .card {
        border-radius: 12px;
    }

    .main-menu-content {
        .new-file {
            .dropdown-menu {
                width: 100%;
            }
        }
    }

    .recent-file-and-folder-container,
    .list-file-and-folder-container {
        .recent-file-and-folder-item {
            .icon-file-and-folder {
                height: 48px;
                width: 48px;
                background-color: rgba(106, 75, 255, 0.05);
                border-radius: 12px;
            }

            .name-file-and-folder {
            }

            .extension-file-and-folder {
                color: #92929d;
            }
        }
    }

    .drive-content {
        .s3-storage-container {
            .s3-storage-item {
                height: 200px;
                .s3-storage-header {
                    height: 100px;
                }

                .s3-storage-body {
                    .small-text {
                        font-size: 10px;
                        font-weight: 400;
                    }

                    .progress-capacity {
                        background-color: #e4e4e4;
                    }

                    .progress-bar-warning .progress-bar {
                        background-color: #ffc66f;
                    }

                    .progress-bar-info .progress-bar {
                        background-color: #3f8cff;
                    }
                }
            }
        }

        .folder-container {
            a {
                color: #32434f;
                font-weight: 500;
            }

            .drive-folder-item {
                .folder-name {
                    cursor: pointer;
                }
            }
        }

        .available-store-container {
            .used-capacity-container {
                .capacity-used {
                    font-size: 18px;
                    font-weight: 700;

                    .capacity-number {
                        color: $primary-text-color;
                    }
                }

                .available-text {
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .file-capacity-container {
                .file-capacity-item {
                    .item-title {
                        font-size: 14px;
                    }

                    .item-file-number {
                        font-size: 10px;
                    }

                    .item-size {
                        font-size: 13px;
                    }
                }
            }

            .upgrade-storage-capacity {
                .upgrade-storage-body {
                    border-radius: 12px;
                    background-color: #cfc8ff;

                    .btn-upgrade {
                        background-color: #ffffff !important;
                        border: none;
                        border-radius: 16px;
                        color: #5f75ee !important;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    .folder-drive-page {
        .folder-drive-header-container {
            .folder-drive-header-title-container {
                .drive-title-item {
                    font-size: 15px !important;
                    font-weight: 400 !important;
                    color: #32434f;
                }
            }
        }
    }
}

.dropdown-action-file-and-folder,
.dropdown-filter-sort-drive {
    .ant-dropdown-menu {
        border-radius: 12px !important;
        padding: 7px;

        .ant-dropdown-menu-item {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
}

.drive-modal {
    .modal-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 5px !important;

        .modal-header {
            padding: 0 !important;
            height: 72px;
            border-bottom: 1px solid rgba(228, 230, 232, 0.85) !important;

            .modal-title {
                width: 100%;
                text-align: center;
                font-weight: 600 !important;
                font-size: 16px !important;
                margin-left: 3rem;
            }

            .btn-close {
                box-shadow: unset !important;
                transform: unset !important;
                margin: -1rem 1rem -0.4rem auto;
            }
        }

        .modal-body {
            padding: 30px !important;
        }

        .modal-footer {
            padding: 10px 30px 20px 30px !important;
        }
    }
}

.drive-upload-modal {
    width: 473px;

    .modal-content {
        .modal-body {
            .ant-upload-drag {
                height: 324px;
                border-radius: 12px;
            }

            .upload-text {
                color: #8083a3;
                font-size: 12px;
            }

            .ant-upload {
                width: 100% !important;
            }
        }
    }
}

.drive-upload-modal-uploading {
    width: 900px;
    transition: transform 19s ease-out;

    .modal-content {
        .modal-body {
            .list-uploading-file-container {
                .uploading-file-item {
                    .ant-progress-bg {
                        background-color: #377dff !important;
                    }
                }
            }
        }
    }
}

.drive-new-folder-modal {
    width: 473px;
}

.drive-share-modal {
    width: 600px;

    .modal-body {
        .warning-text {
            font-size: 12px;
            font-weight: 500;
        }

        .form-check-input:checked {
            background-color: #377dff;
            border-color: #377dff;
            box-shadow: unset !important;
        }

        .list-chosen-share-user {
            .chosen-share-user-item {
                p {
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1rem !important;
                }

                small {
                    font-size: 11px;
                }
            }
        }

        .share-type-container {
            .chose-share-type-item {
                span {
                    font-weight: 600;
                    font-size: 13px;
                }
            }
        }
    }
}

.drive-uploading-notification {
    height: auto;
    width: 400px;
    border-radius: 12px;
    position: fixed;
    right: 30px;
    top: auto;
    bottom: 30px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);

    .notification-header {
        font-size: 14px;
        font-weight: 600;
        padding-right: 0 !important;

        .notification-header-container {
            .icon-action-container {
                .icon-item {
                    color: #377dff;
                    cursor: pointer;
                    border-radius: 50%;
                    height: 22px;
                    width: 22px;
                    padding: 2px;

                    &:hover {
                        background-color: rgba(55, 125, 255, 0.1);
                    }
                }
            }
        }
    }

    .notification-body {
        .upload-detail {
            font-size: 12px;

            .content-name {
                text-overflow: ellipsis;
            }
        }
    }
}
