@import "@scss/friday";

.notification-page {
    width: 70%;
    margin: auto;

    .bg-active {
        background: lighten($primary-bg, 17%) !important;
        margin-bottom: 2px;

        .div-text {
            .text-content {
                color: #32434f !important;
            }

            .text-content-blue {
                color: #32434f !important;
            }
        }

        .div-time {
            color: #32434f !important;
        }
    }

    .div-noti {
        height: 80px;
        width: 100%;
        border-radius: $border-radius;
        padding: 16px;

        &:hover {
            background: rgba(228, 228, 228, 0.25);
        }

        .div-img {
            position: relative;
            top: 12px;
            margin-right: 15px;

            .badge-up {
                background: #3f8cff !important;

                border: 2px solid #ffffff;
                right: unset !important;
                position: relative;
                top: -55px;
                left: 32px;
                width: 20px;
                height: 20px;

                .icon {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: calc(50% - 5px);
                    left: calc(50% - 4.7px);
                    font-size: 10px;
                }
            }

            .badge-up-green {
                background: #7fba7a !important;
            }

            .badge-up-purple {
                background: #6c5dd3 !important;
            }

            .badge-up-orange {
                background: #ff754c !important;
            }

            .badge-up-primary {
                background: $primary !important;
            }
        }

        .div-text {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-evenly;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .text-title {
                font-weight: 600;
                font-size: 13px;
                line-height: 18px;
                color: #11142d;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .text-content {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #b2b3bd;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .text-content-blue {
                color: #5f75ee;
            }
        }

        .div-time {
            margin-left: auto;
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            text-align: right;
            color: #b2b3bd;
            padding-left: 10px;
        }
    }

    .ant-pagination {
        text-align: center;
    }
}
