a {
  text-decoration: none !important;
}
.text-primary-color {
  color: $primary-text-color;
}
.attach-gif-icon {
  font-size: 18px;
  font-weight: bold;
  color: #a4a1a1;
}

.font-weight-900 {
  font-weight: 900 !important;
}
.text-dark {
  color: #595757;
}
.text-black {
  color: black;
}

.text-blue {
  color: $color-blue !important;
}
.bg-blue {
  background-color: $color-blue !important;
}
.border-blue {
  border: 1px solid $color-blue;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #b2aeae #b2aeae transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.38s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.circle {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.none {
  color: #7f8c8d;
  font-style: italic;
}

.reactGiphySearchbox-searchForm-input {
  padding: 8px 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 12px;
}
hr.hr-primary {
  color: $primary;
}

.fri-toast {
  background-color: #ffffff;
  .toast-header {
    border-bottom-width: 1px;
    padding-top: 0.7rem;
    .avatar {
      .avatar-content {
        width: 18px;
        height: 18px;
      }
    }
  }
  &.fri-toast-primary {
    .toast-header {
      border-bottom-color: lighten($primary, 20%);
    }
  }
  &.fri-toast-success {
    .toast-header {
      border-bottom-color: lighten($success, 20%);
    }
  }
  &.fri-toast-danger {
    .toast-header {
      border-bottom-color: lighten($danger, 20%);
    }
  }
  &.fri-toast-info {
    .toast-header {
      border-bottom-color: lighten($info, 20%);
    }
  }
  &.fri-toast-warning {
    .toast-header {
      border-bottom-color: lighten($warning, 20%);
    }
  }
  .toast-body {
    padding: 0.7rem 1rem 1rem 1rem;
  }
}

.ms-10 {
  margin-left: 10px;
}
.me-10 {
  margin-right: 10px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.ms-15 {
  margin-left: 15px;
}
.me-15 {
  margin-right: 15px;
}
.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.ms-20 {
  margin-left: 20px;
}
.me-20 {
  margin-right: 20px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.ms-25 {
  margin-left: 25px;
}
.me-25 {
  margin-right: 25px;
}
.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}
.nav-tabs .nav-link.active {
  color: $color-blue;
}
.nav-tabs .nav-link:after,
.nav-tabs .nav-link.active:after {
  background: linear-gradient(
    30deg,
    $color-blue,
    rgb(36 88 249 / 50%)
  ) !important;
}

.card .card-title {
  font-weight: 600;
}

.ant-dropdown {
  ul.ant-dropdown-menu {
    li.ant-dropdown-menu-item {
      font-family: $font-family-sans-serif;
    }
  }
}

[class^="ant-dropdown-menu"], [class*=" ant-dropdown-menu"] {
  font-family: $font-family-sans-serif;
}