.separate-sidebar-layout {
    .main-menu {
        padding: 0 24px 24px 24px !important;
        .div-sidebar-bottom {
            margin-top: auto!important;
            border-top: 1px #f1f1f5 solid !important;
            margin-bottom: 0 !important;
            // margin-top: auto;
            // border-top: 1px #f1f1f5 solid;
            // margin-bottom: 0;
            margin: 0 !important;
            hr {
            margin: 15px 0 16px 0 !important;
            }
        }
        .main-menu-content {
            .scrollbar-container{
                .navigation{
                    .navigation-header {
                        padding: 24px 15px 15px 15px!important;
                        span {
                            color: var(--neutral-shade-4, #8C8A82);
                            font-family: Be Vietnam Pro;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 16px; 
                            text-transform: uppercase;
                        }
                    }

                    .nav-item {
                        .align-items-center {
                            svg{
                                width: auto!important;
                                height: auto!important;
                                flex-shrink: 0;
                            }
                        }
                        a.active {
                            border-radius: 16px;
                            background: var(--primary-500, #FFE658)!important;
                        }
                        .svg-background {
                            position: relative;
                        }
                        .svg-icon {
                            position: absolute;
                            top: 29%!important;
                            left: 8%!important;
                        }
                        
                    }
                }
            } 
            
            .div-sidebar-bottom {
                .div-user-dropdown {
                    .avatar {
                        margin-right: 12px!important;
                    }
                    .user-nav {
                        .user-name {
                            color: var(--neutral-shade-2, #403F3A);
                            font-family: Be Vietnam Pro;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 28px; 
                        }

                        .user-status {
                            color: var(--neutral-shade-3, #696760);
                            font-family: Be Vietnam Pro;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            opacity: 0.6;
                        }
                    }
                }
            }
            
        }
        
    }

    .div-sidebar-bottom { 
        padding: 0!important;
        .switch-mode {
            height: 58px;
            border-radius: 16px;
            background: var(--neutral-shade-10, #F7F7F5);
            display: flex;
            padding: 8px;
            gap: 12px;
            .mode-light {
                width: 120px;
                height: 42px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                cursor: pointer;
                .icon-sun::before {
                    content: none;
                }

                .text {
                    color: var(--secondary-500, #C4C3BB);
                    font-family: Be Vietnam Pro;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
                .text-active {
                    color: var(--secondary-500, #2F9BFA)!important;
                }
            }
            .active {
                background: var(--other-white, #FFF);
            }
            .mode-dark {
                width: 120px;
                height: 42px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                cursor: pointer;
                .text {
                    color: var(--neutral-shade-6, #C4C3BB);
                    font-family: Be Vietnam Pro;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }

        .main-menu-content {
            .div-sidebar-bottom {
                margin-top: 16px!important;
                .div-user-dropdown {
                    padding-top: 16px!important;
                    padding-bottom: 16px!important;
                }
            }
           
        }
        .app-content {
            padding-top: 94px !important;
            max-width: 1020px !important; // margin 40px
            margin-left: 348px !important;

            .content-wrapper .div-content {
                gap: 32px!important;
                justify-content:start!important ;
                .div-right {
                    #div-sticky {
                        #dashboard-analytics {
                            .card {
                                padding: 24px!important;
                                .card-header {
                                    padding: 0!important;
                                    margin-bottom: 10px;
                                    .card-title {
                                        .title{
                                            color: var(--neutral-shade-1, #121210)!important;
                                            font-family: Be Vietnam Pro;
                                            font-size: 18px!important;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 28px;
                                        }
                                    }
                                }
                                .card-body {
                                    padding: 0px!important;
                                    .content-body {
                                        .attendance-time {
                                            margin-left: 12px!important;
                                            h4 {
                                                color: var(--neutral-shade-1, #121210);
                                                font-family: Be Vietnam Pro;
                                                font-size: 18px;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 28px;
                                            }
                                            small {
                                                color: var(--neutral-shade-3, #696760);
                                                font-family: Be Vietnam Pro;
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 16px;
                                            }
                                        }
                                        .ant-progress-show-info {
                                            .ant-progress-text {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                    
                                .card-notepad {
                                   .body-header {
                                        .body-header-left {
                                            gap: 12px;
                                            .text-my-note {
                                                color: var(--neutral-shade-2, #403F3A);
                                                font-family: Be Vietnam Pro;
                                                font-size: 15px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 20px;
                                            }
                                        }
                                        .body-header-right {
                                            gap:12px;
                                            margin-right: 0px;
                                        }
                                   }
                                   .body-content {
                                        .div-body-notepad {
                                            .text-title {
                                                color: var(--neutral-shade-2, #403F3A);
                                                font-family: Be Vietnam Pro;
                                                font-size: 15px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 20px;
                                            }
                                            .text-time {
                                                color: var(--neutral-shade-3, #696760);
                                                font-family: Be Vietnam Pro;
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 16px;
                                            }
                                        }
                                   }

                                }
                            }
                        }
                    }
                }

                .div-left {
                    .feed {
                        .div-create-post {
                            .div-post {
                                gap: 16px!important;
                                img {
                                    width: 60px;
                                    height: 60px;
                                }
                                .div-post-input {
                                    span {
                                        color: var(--neutral-shade-3, #696760);
                                        font-family: Be Vietnam Pro;
                                        font-size: 15px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 20px;
                                    }
                                }
                            }
                            hr {
                                margin-top:  15px!important;
                            }
                            .div-option {
                                .ul-option {
                                    gap: 20px!important;
                                    li {
                                        span {
                                            color: var(--neutral-shade-2, #403F3A);
                                            font-family: Be Vietnam Pro;
                                            font-size: 15px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 20px;
                                        }
                                    }
                                }
                            }
                        }

                        .card-announcement {
                            .ant-collapse-header {
                                padding-bottom: 23px;
                                .ant-collapse-header-text {
                                    color: var(--neutral-shade-2, #403F3A);
                                    font-family: Be Vietnam Pro;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 28px;
                                }
                            }
                            
                            .announcement-item {
                                min-height: 382px!important;

                                .load-post{
                                    .post-header {
                                        gap: 0px!important;
                                        .post-header-title {
                                            margin-left: 16px;
                                            .div-name {
                                                .name {
                                                    color: var(--neutral-shade-2, #403F3A);
                                                    font-family: Be Vietnam Pro;
                                                    font-size: 15px;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    line-height: normal;
                                                }
                                                .after-name {
                                                    color: var(--neutral-shade-2, #403F3A);
                                                    font-family: Be Vietnam Pro;
                                                    font-size: 14px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 20px;
                                                }
                                                .after-name-bold {
                                                    color: var(--neutral-shade-2, #403F3A);
                                                    font-family: Be Vietnam Pro;
                                                    font-size: 15px;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    line-height: 20px;
                                                }
                                            }
                                        }
                                    }
                                    .post-body {
                                        .announcement__div-content {
                                           .none-hidden {
                                                min-height: 125px;
                                           }
                                        }
                                        .post-body__announcement  {
                                            .announcement__div-title {
                                                color: var(--neutral-shade-2, #403F3A);
                                                font-family: Be Vietnam Pro;
                                                font-size: 15px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 20px;
                                            }
                                            .announcement__div-content {
                                                .none-hidden {
                                                    min-height: 125px;
                                               }
                                                .hide,.none-hidden {
                                                    color: var(--neutral-shade-2, #403F3A);
                                                    font-feature-settings: 'clig' off, 'liga' off;
                                                    font-family: Be Vietnam Pro;
                                                    font-size: 14px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 25px;
                                                    letter-spacing: 0.1px;
                                                }
                                                .btn-see-more {
                                                    color: var(--neutral-shade-2, #403F3A);
                                                    font-feature-settings: 'clig' off, 'liga' off;
                                                    font-family: Be Vietnam Pro;
                                                    font-size: 14px;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    line-height: 25px;
                                                    letter-spacing: 0.1px;
                                                }
                                            }
                                        }
                                    }
                                    .post-footer {
                                        .post-reaction {
                                            .reaction-right {
                                                .div-seen {
                                                    display: flex;
                                                    align-items: center;
                                                    gap: 4px;
                                                    justify-content: center;
                                                    font-family: Be Vietnam Pro;
                                                    font-size: 12px;
                                                    font-weight: 400;
                                                    line-height: 16px;
                                                    letter-spacing: 0em;
                                                    text-align: left;
                                                }
                                            }
                                        }
                                        .post-footer-button {
                                            .div-button-reaction{
                                                border-bottom: 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .load-feed {
                            .load-post{
                                .post-header {
                                    gap: 0px!important;
                                    .post-header-title {
                                        margin-left: 16px;
                                        .div-name {
                                            .name {
                                                color: var(--neutral-shade-2, #403F3A);
                                                font-family: Be Vietnam Pro;
                                                font-size: 15px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: normal;
                                            }
                                            .after-name {
                                                color: var(--neutral-shade-2, #403F3A);
                                                font-family: Be Vietnam Pro;
                                                font-size: 14px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 20px;
                                            }
                                            .after-name-bold {
                                                color: var(--neutral-shade-2, #403F3A);
                                                font-family: Be Vietnam Pro;
                                                font-size: 15px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 20px;
                                            }
                                        }
                                        .time {
                                            color: var(--neutral-shade-3, #696760);
                                            font-family: Be Vietnam Pro;
                                            font-size: 12px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 16px;
                                        }
                                    }
                                }
                                .post-body {
                                    .post-body__announcement  {
                                        .announcement__div-title {
                                            color: var(--neutral-shade-2, #403F3A);
                                            font-family: Be Vietnam Pro;
                                            font-size: 15px;
                                            font-style: normal;
                                            font-weight: 600;
                                            line-height: 20px;
                                        }
                                        .announcement__div-content {
                                            .hide,.none-hidden {
                                                color: var(--neutral-shade-2, #403F3A);
                                                font-feature-settings: 'clig' off, 'liga' off;
                                                font-family: Be Vietnam Pro;
                                                font-size: 14px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 25px;
                                                letter-spacing: 0.1px;
                                                min-height: auto!important;
                                            }
                                            .btn-see-more {
                                                color: var(--neutral-shade-2, #403F3A);
                                                font-feature-settings: 'clig' off, 'liga' off;
                                                font-family: Be Vietnam Pro;
                                                font-size: 14px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 25px;
                                                letter-spacing: 0.1px;
                                            }
                                        }
                                    }
                                    .post-body-content {
                                        color: var(--neutral-shade-2, #403F3A);
                                        font-family: Be Vietnam Pro;
                                        font-size: 15px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 20px;
                                    }
                                }
                                .post-footer {
                                    .post-reaction {
                                        .reaction-left {
                                            .div-text {
                                                color: var(--neutral-shade-3, #696760);
                                                font-family: Be Vietnam Pro;
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 16px;
                                            }
                                        }
                                        .reaction-right {
                                            .div-comment {
                                                color: var(--neutral-shade-3, #696760);
                                                font-family: Be Vietnam Pro;
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 16px;
                                            }
                                            .div-seen {
                                                color: var(--neutral-shade-3, #696760);
                                                font-family: Be Vietnam Pro;
                                                font-size: 12px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 16px;
                                            }
                                        }
                                    }
                                    .post-footer-button {
                                        .div-button-reaction{
                                            border-bottom: 0px;
                                            button  {
                                                    color: var(--neutral-shade-2, #403F3A);
                                                    font-family: Be Vietnam Pro;
                                                    font-size: 14px;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 20px;
                                            }
                                        }
                                    }
                                }
                                .post-comment {
                                    .post-comment__list {
                                        .post-comment__div-comment {
                                            .div-comment__comment {
                                                .body__reaction{
                                                    .reaction {
                                                        color: var(--neutral-shade-2, #403F3A);
                                                        font-family: Be Vietnam Pro;
                                                        font-size: 12px;
                                                        font-style: normal;
                                                        font-weight: 400;
                                                        line-height: 20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .post-comment__div-form {
                                        .avatar {
                                            width: 48px;
                                            height: 48px;
                                            img {
                                                width: 48px;
                                                height: 48px;
                                            }
                                        }
                                        .post-comment-div-editor {
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        } 
                    }
                }
            }
        }
}

.post-header-button-dot {
    .ant-dropdown-menu-title-content {
        .div-item-drop {
            svg {
                width: 24px;
                margin-right: 16px!important;
            }
            .div-text__title {
                color: var(--neutral-shade-2, #403F3A)!important;
                font-family: Be Vietnam Pro;
                font-size: 15px!important;
                font-style: normal;
                font-weight: 400!important;
                line-height: 20px;
            }
        }
    }
}

.modal-post-image-detail {
    .modal-content {
        .div-body {
            .div-right {
                .right-button {
                    .div-button-reaction {
                        button {
                            color: var(--neutral-shade-2, #403F3A);
                            font-family: Be Vietnam Pro;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}

.modal-post-comment {
    .modal-body {
        .post-comment {
            .comment__body {
                .body__reaction {
                    .reaction {
                        color: var(--neutral-shade-2, #403F3A);
                        font-family: Be Vietnam Pro;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }
        }    
    }
}

.modal-create-post {
    .modal-content {
        padding: 12px 24px 24px 24px!important;
        .modal-header {
            .modal-title {
                .div-header-avatar {
                    gap: 12px;
                    .avatar {
                        width: 60px;
                        height: 60px;
                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                    .modal-header-privacy {
                        .modal-header-privacy-name {
                            color: var(--neutral-shade-2, #403F3A);
                            text-align: center;
                            font-family: Be Vietnam Pro;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                        }
                        .modal-header-privacy-choose {
                        }
                        .modal-header-privacy-choose-dropdown-a {
                            button {
                                padding: 4px 8px;
                            }
                            .privacy-workspace {
                                align-items: center!important;
                                .text-privacy {
                                    color: var(--other-azure-500, #4986FF);
                                    text-align: center;
                                    font-family: Be Vietnam Pro;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .modal-body {
            .div-editor {
                color: var(--neutral-shade-4, #8C8A82);
                font-family: Be Vietnam Pro;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
            .create_post_footer {
                padding: 8px;
                border-radius: 12px;
                border: 1px solid var(--neutral-shade-9, #F2F1ED);
                align-items: center;
                gap: 16px;
                li {
                    height: auto;
                    width: auto;
                }
                .icon-background {
                    border-radius: 8px;
                    border: 1px solid var(--other-white, #FFF);
                    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.15);
                }
            }
            .btn-post {
                color: var(--neutral-shade-2, #403F3A)!important;
                font-family: Be Vietnam Pro;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }
        }
    }
}
.modal-tag-your-colleagues {
    .modal-content {
        .body-header {
            .text-title {
                color: var(--neutral-shade-1, #121210);
                text-align: center;
                font-family: Be Vietnam Pro;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
            }
        }
        .modal-body {
            .body-content {
                .div-list-member {
                    .list-member__header {
                        .text-title {
                            color: var(--neutral-shade-4, #8C8A82);
                            font-family: Be Vietnam Pro;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 16px;
                            text-transform: uppercase;
                        }
                        .list-member__input-search {
                            .form-group {
                                input {
                                    color: var(--neutral-shade-3, #696760);
                                    font-family: Be Vietnam Pro;
                                    font-size: 15px!important;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                                .input-group-text {
                                    width: auto;
                                }
                            }
                        }
                    }
                    .list-member__list {
                        .list-user-react {
                            .avatar {
                                height: 40px;
                                width: 40px;
                                img {
                                    height: 40px;
                                    width: 40px;
                                }
                            }
                            .name {
                                color: var(--neutral-shade-2, #403F3A);
                                font-family: Be Vietnam Pro;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            .form-check {
                                .form-check-input {
                                    width: 24px;
                                    height: 24px;
                                    flex-shrink: 0;
                                }
                                .form-check-input:checked {
                                    background: var(--primary-500, #FFE658);
                                }
                            }
                        }
                    }
                }
                .div-list-selected {
                   .list-member__header {
                        .text-title {
                            color: var(--neutral-shade-4, #8C8A82);
                            font-family: Be Vietnam Pro;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 16px;
                            text-transform: uppercase;
                        }
                        .div-member-count {
                            color: var(--neutral-shade-3, #696760);
                            font-family: Be Vietnam Pro;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }
                   } 
                   .list-member__list {
                        .avatar {
                            height: 40px;
                            width: 40px;
                            img {
                                height: 40px;
                                width: 40px;
                            }
                        }
                        .name {
                            color: var(--neutral-shade-2, #403F3A);
                            font-family: Be Vietnam Pro;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px;
                        }
                   }
                }
            }
            .body-footer {
                text-align: -webkit-auto; 
                .button-save {
                    width: 100%;
                    background: var(--primary-500, #FFE658)!important;
                    border: none!important;
                    color: var(--neutral-shade-2, #403F3A)!important;
                    font-family: Be Vietnam Pro;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; /* 133.333% */
                }
            }
        }
    }
}
