$avatar-size: 45px;

#post-saved {
  .header {
    border-radius: 10px;
    .input-group-cus {
      background-color: #ffffff;
      padding: 8px;
      width: 100%;
      height: 100%;
      position: relative;
      padding-top: 22px;
      padding-left: 18px;
      .icon_search {
        position: absolute;
        z-index: 1;
        top: 32px;
        left: 30px;
      }
      .search_input {
        position: absolute;
        border-radius: 10px;
        padding: 12px;
        background-color: #f0f3f6;
        width: 561px;
        padding-left: 44px;
        border: none;
      }
    }
  }
  .main-content {
    width: 100%;
    .card {
      margin: 20px 0px;
      padding: 30px;
      padding-top: 22px;
      overflow-x: hidden;

      .info {
        position: relative;
        .avatar {
          width: $avatar-size;
          height: $avatar-size;
          img {
            width: $avatar-size;
            height: $avatar-size;
          }
        }
      }
      .info-detail {
        position: absolute;
        top: 0px;
        left: 58px;
        font-size: 13px;
        #full-name {
          margin-bottom: 0;
          font-weight: bold;
          font-size: 15px;
        }
        #created_at {
          margin-top: 0px;
          opacity: 0.6;
        }
      }
    }
    .content {
      margin: 0;
      padding: 8px;
      margin-top: 14px;
      width: 100%;
    }
    .content-background-img {
      height: 600px;
      padding: 0px;
      border-radius: 10px;
      p {
        position: absolute;
        left: 45%;
        top: 50%;
        font-size: 24px;
        font-weight: 500;
        margin: 0;
      }
    }
    .dropdown {
      border-radius: 12px;
      padding: 8px;
    }
  }
  .search_post_pending {
    margin: 0;
    padding-left: 8px;
  }
  .load-post {
    padding: 0 !important;
    .post-comment{
      display: none;
    }
    .post-footer{
      display: none;
    }
  }
}

.div-right-post-saved {
  position: fixed !important;
  right: 274px;
}
